<server>
    <featureManager>
        <feature>jndi-1.0</feature>
        <feature>jdbc-4.3</feature>
        <feature>servlet-6.0</feature>
    </featureManager>

    <dataSource jndiName="jdbc/DataSource">
        <jdbcDriver>
            <library>
                <fileset dir="${shared.resource.dir}/jdbc" includes="*.jar" />
            </library>
        </jdbcDriver>
        <properties.postgresql serverName="rdbcluster" portNumber="5432" user="pguser"
            password="pgpass" databaseName="pgdb" />
    </dataSource>

    <webApplication location="webapp.war" contextRoot="/" />
    <httpEndpoint id="defaultHttpEndpoint" httpPort="9080" httpsPort="9443" host="*" />

</server>